doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
            
    script(type='text/javascript', src='/lib/jquery/dist/jquery.min.js')      
    script(type='text/javascript', src='/js/main.js')
  body
    block content
